# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__com_alibaba_fastjson_1_2_6.xml
/.idea/libraries/Maven__com_aliyun_credentials_java_0_2_4.xml
/.idea/libraries/Maven__com_aliyun_dingtalk_1_1_70.xml
/.idea/libraries/Maven__com_aliyun_endpoint_util_0_0_6.xml
/.idea/libraries/Maven__com_aliyun_openapiutil_0_1_11.xml
/.idea/libraries/Maven__com_aliyun_tea_1_1_15.xml
/.idea/libraries/Maven__com_aliyun_tea_openapi_0_1_1.xml
/.idea/libraries/Maven__com_aliyun_tea_util_0_2_13.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_3.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_14_7.xml
/.idea/libraries/Maven__com_squareup_okio_okio_1_17_2.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_3_0.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_3_0.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_13.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_8.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_8.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_9.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_12_1.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_33.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_33.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_33.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_13_2.xml
/.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_65.xml
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_65.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_18_Final.xml
/.idea/libraries/Maven__org_ini4j_ini4j_0_5_4.xml
/.idea/libraries/Maven__org_jacoco_org_jacoco_agent_runtime_0_8_4.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_5_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_2.xml
/.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_5_2.xml
/.idea/libraries/Maven__org_mockito_mockito_core_3_1_0.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_1_0.xml
/.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_22.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_4.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/h5app-approval-of-store-revenue-process-demo.iml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/backend/target/classes/static/static/css/2.4c73f6f5.chunk.css
/backend/target/classes/static/static/css/2.4c73f6f5.chunk.css.map
/backend/target/classes/static/static/css/main.3f068e0a.chunk.css
/backend/target/classes/static/static/css/main.3f068e0a.chunk.css.map
/backend/target/classes/static/static/js/2.3144b786.chunk.js
/backend/target/classes/static/static/js/2.3144b786.chunk.js.LICENSE.txt
/backend/target/classes/static/static/js/2.3144b786.chunk.js.map
/backend/target/classes/static/static/js/3.e89c45aa.chunk.js
/backend/target/classes/static/static/js/3.e89c45aa.chunk.js.map
/backend/target/classes/static/static/js/main.5fe98d5e.chunk.js
/backend/target/classes/static/static/js/main.5fe98d5e.chunk.js.map
/backend/target/classes/static/static/js/runtime-main.550b9041.js
/backend/target/classes/static/static/js/runtime-main.550b9041.js.map
/backend/target/classes/static/asset-manifest.json
/backend/target/classes/static/favicon.ico
/backend/target/classes/static/index.html
/backend/target/classes/static/logo192.png
/backend/target/classes/static/logo512.png
/backend/target/classes/static/manifest.json
/backend/target/classes/static/robots.txt
/backend/target/classes/application.yaml
/backend/backend.iml
