@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body {
  height: 100%;
  font-size: 14px;
}
#root {
  height: 100%;
}

.app-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width : 750px) {

  /* 大于 750 */
  .app-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #F7F8FA;
  }

  .app-tit-wrap {
    height: 38px;
    line-height: 38px;
    background: #fff;
    border-bottom: 1px solid #EEEEEE;;
  }

  .app-tit-contain {
    width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .app-tit-item  {
    flex: 1;
    text-align: center;
    cursor: pointer;
  }

  .app-tit-separate {
    height: 12px;
    width: 1px;
    background: #EEEEEE;
    margin: 0 12px;
  }

  .app-tit-item-cur {
    position: relative;
    color: #0089FF;
  }
  .app-tit-item-cur:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    height: 2px;
    width: 40px;
    background: #0089FF;
  }

  .approval-body {
    display: flex;
    flex: 1;
    width: 750px;
    margin: 12px auto;
    padding: 12px;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
  }

  .approval-contain-wrap {
    flex: 1;
    overflow: auto;
  }

  .approval-footer {
    padding: 10px 24px 0;
  }

  .approval-footer-btn {
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #0089FF;
    color: #fff;
    border-radius: 23px;
    cursor: pointer;
  }

  .approval-form-wrap {
    background: #fff;
  }
  .approval-line {
    display: flex;
    background: #fff;
    height: 45px;
    align-items: center;
    padding: 0 10px;
    /* border-bottom: 1px solid #EEEEEE; */
  }
  .approval-line-border {
    margin: 0 10px;
    padding: 0;
    border-top: 1px solid #EEEEEE; 
    
  } 
  .approval-miti-line {
    display: flex;
    background: #fff;
    padding: 10px 10px 0;
    font-size: 14px;
  }

  
  .approval-miti-checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  .approval-miti-checkbox {
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .approval-miti-label {
    width: 140px;
    height: 28px;
    line-height: 28px;
  }
  
  .approval-line-label {
    width: 140px;
    font-size: 14px;
  }
  
  .approval-line-input  {
    color: #8A8A8A;
  }
  
  .approval-tip {
    height: 42px;
    line-height: 28px;
    padding: 10px 10px 0;
    color: #8A8A8A;
  }
  
  .approval-line-switch-input {
    border: 1px solid #D9D9D9;
  }
  .approval-line .ant-input {
    border-radius: 4px;
  }
  
  .approval-line-switch-text {
    flex: 1;
  }
  
  .approval-line-switch-label {
    width: 120px;
    text-align: right;
    margin-right: 15px;
    color: #8A8A8A;
  }
  .approval-line .ant-switch {
    width: 60px;
    min-width: 60px;
  }
  .approval-list-none-tip {
    color: #8A8A8A;
    font-size: 14px;
    line-height: 24px;
  }

  .approval-list-none-tip {
    color: #8A8A8A;
    font-size: 14px;
    line-height: 24px;
  }


  .approval-list-wrap {
    background: #fff;
    width: 100%;
  }
  .approval-list-item {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 6px 0;
    margin: 0 12px;
  }
  
  .approval-list-item-line {
    display: flex;
    height: 24px;
    line-height: 24px;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .approval-list-item-name {
    flex: 1;
    font-size: 14px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: #222;
  }
  
  .approval-list-item-date {
    width: 80px;
    color: #8A8A8A;
    text-align: right;
    font-size: 14px;
  }
  
  .approval-list-item-margin {
    margin-bottom: 10px;
  }
  
  .approval-list-item-state {
    font-size: 14px;
  }
  
  .approval-list-item-link {
    color: #0089FF;
    font-size: 14px;
    cursor: pointer;
  }
  .approval-list-tip {
    color: #8A8A8A;
    font-size: 14px;
    margin: 10px 10px;
  }
}


@media screen and (max-width : 750px) {
  .app-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #F8F8F8;
  }

  .app-tit-wrap {
    height: 38px;
    line-height: 38px;
    background: #fff;
    border-bottom: 1px solid #EEEEEE;;
  }

  .app-tit-contain {
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .app-tit-item  {
    flex: 1;
    text-align: center;
    cursor: pointer;
  }

  .app-tit-separate {
    height: 12px;
    width: 1px;
    background: #EEEEEE;
    margin: 0 12px;
  }

  .app-tit-item-cur {
    position: relative;
    color: #0089FF;
  }
  .app-tit-item-cur:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    height: 2px;
    width: 40px;
    background: #0089FF;
  }

  .approval-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }
  
  .approval-contain-wrap {
    flex: 1;
    overflow: auto;
  }
  
  .approval-footer {
    height: 60px;
    padding: 0 10px;
    background-color: #fff;
  }

  .approval-footer-btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #0089FF;
    color: #fff;
    border-radius: 23px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .approval-form-wrap {
    background: #fff;
  }
  .approval-line {
    display: flex;
    background: #fff;
    height: 45px;
    align-items: center;
    padding: 0 10px;
    /* border-bottom: 1px solid #EEEEEE; */
  }
  .approval-line-border {
    margin: 0 10px;
    padding: 0;
    border-top: 1px solid #EEEEEE; 
    
  } 
  .approval-miti-line {
    display: flex;
    background: #fff;
    padding: 10px 10px 0;
    font-size: 14px;
  }

  
  .approval-miti-checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  .approval-miti-checkbox {
    width: 120px;
    margin-bottom: 10px;
  }
  .approval-miti-label {
    width: 90px;
    height: 28px;
    line-height: 28px;
  }
  
  .approval-line-label {
    width: 90px;
    font-size: 14px;
  }
  
  .approval-line-input  {
    color: #8A8A8A;
  }
  
  .approval-tip {
    height: 42px;
    line-height: 28px;
    padding: 10px 10px 0;
    color: #8A8A8A;
  }
  
  .approval-line-switch-input {
    border: 1px solid #D9D9D9;
  }
  .approval-line .ant-input {
    border-radius: 4px;
  }
  
  .approval-line-switch-text {
    flex: 1;
  }
  
  .approval-line-switch-label {
    width: 180px;
    text-align: right;
    margin-right: 15px;
    color: #8A8A8A;
  }
  .approval-line .ant-switch {
    width: 60px;
    min-width: 60px;
  }
  
  .approval-list-none-tip {
    color: #8A8A8A;
    font-size: 14px;
    line-height: 24px;
  }
  

  .approval-list-wrap {
    background: #fff;
    width: 100%;
  }
  .approval-list-item {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 6px 0;
    margin: 0 12px;
  }
  
  .approval-list-item-line {
    display: flex;
    height: 24px;
    line-height: 24px;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .approval-list-item-name {
    flex: 1;
    font-size: 14px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: #222;
  }
  
  .approval-list-item-date {
    width: 80px;
    color: #8A8A8A;
    text-align: right;
    font-size: 14px;
  }
  
  .approval-list-item-margin {
    margin-bottom: 10px;
  }
  
  .approval-list-item-state {
    font-size: 14px;
  }
  
  .approval-list-item-link {
    color: #0089FF;
    font-size: 14px;
    cursor: pointer;
  }
  .approval-list-tip {
    color: #8A8A8A;
    font-size: 14px;
    margin: 10px 10px;
  }
}

